PORT=3000
FASTIFY_CLOSE_GRACE_DELAY=500
JWT_SECRET=mysupersecret1234567

MYSQL_PORT=3306
MYSQL_HOST=localhost
MYSQL_DB=thrive
MYSQL_USER=root
MYSQL_PASSWORD=root

EMAIL_HOST=
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=
EMAIL_PASS=

API_BASE_URL=https://0.0.0.0:3000
CLIENT_BASE_URL=https://localhost:5000

VERIFY_TOKEN_LIFESPAN=900