PORT=3000
FASTIFY_CLOSE_GRACE_DELAY=500
JWT_SECRET=mysupersecret1234567

MYSQL_PORT=3306
MYSQL_HOST=thrivedblive.czvrlhsqjac9.us-east-1.rds.amazonaws.com
MYSQL_DB=thrivedblive
MYSQL_USER=thrivedblive
MYSQL_PASSWORD=mypassword123.

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=

API_BASE_URL=https://0.0.0.0:3000
CLIENT_BASE_URL=https://localhost:5000

VERIFY_TOKEN_LIFESPAN=900
